<h2>Make your own article.... it's all made up anyways!</h2>


<form method="POST" action="/articles">
<label for="articlesTitle">Title</label>
<input type="text" name="articlesTitle" />
<label for="articlesBody">Body</label>
<input type="text" name="articlesBody" />
<input type="submit" value="Tell me a story" />
</form>